body{
    background-color:black;
    color: white;
}
img {
    height: 300px;
    border: 5px solid white;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: darkblue; 
    color:darkgoldenrod;
}
p{
    color: antiquewhite;
}
footer p{
color: darkgoldenrod;
}


